.newPlayerContainer{
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 70px;
    height: 200px;
}
.newplayerForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.labelName{
    margin-left: 32px;
}
.labels{
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.inputName,.inputPosition{
    margin-left:5px;
    width: 50%;
    border: 2px solid black;
}
.newPlayerTitle{
    font-size: 20px;
    margin-right: 450px;
}
.buttonAdd{
    margin-left: 54%;
    border: 1px solid black;
    box-shadow:2px 3px black;
    color: white;
    background-color: #11a322;
    width: 30%;
    height: 20px;
}